html {
  font-size: 16px;
}

@font-face {
  src: url(fonts/Roboto-Regular.ttf);
  font-family: reg;
}

@font-face {
  src: url(fonts/Roboto-Light.ttf);
  font-family: light;
}

@font-face {
  src: url(fonts/Roboto-Medium.ttf);
  font-family: med;
}

@font-face {
  src: url(fonts/Roboto-Thin.ttf);
  font-family: thn;
}

@font-face {
  src: url(fonts/Roboto-Bold.ttf);
  font-family: bld;
}


.head {
  background: url("img/Fushimi-Inari-Taisha-passage.jpeg") no-repeat center;
  background-size: cover;
  padding-bottom: 55px;
}

h1 {
  font-size: 125px;
  font-family: light;
  color: #F7F5F7;
  text-align: center;
  letter-spacing: 50px;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}

nav {
  color: #F7F5F7;
  font-size: 35px;
  font-family: reg;
  text-align: center;
  display: flex;
  padding-top: 100px;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 9px;
}

a {
  position: relative;
  padding: 0 10px;
}

a:after {
  content: "";
  position: absolute;
  background-color: #F7F5F7;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
}

a:hover:after {
  width: 100%;
  transition: 0.3s;
}

.bodytext {
  color: #F7F5F7;
  font-size: 25px;
  font-family: reg;
  padding-top: 200px;
  padding-bottom: 200px;
  width: auto;
  line-height: 32px;
  position: relative;
  text-align: left;
  background: #0B1922;
  padding-left: 300px;
  padding-right: 300px;
  margin-top: 150px;
}

.container {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;

}

.btn {
  width: 200px;
  height: 80px;
  font-family: bld;
  font-size: 25px;
  color: #0B1922;
  border-radius: 5px;
}

@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 80px;
    letter-spacing: 20px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
    letter-spacing: 15px;
  }
}

@media only screen and (max-width: 1200px) {
  .bodytext {
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 905px) {
  .bodytext {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
  }
}

@media only screen and (max-width: 650px) {
  .bodytext {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 905px) {
  nav {
    font-size: 20px;
    padding-top: 50px;
  }
}
